@model IEnumerable<Phonebook.Presentation.Web.Models.ContactVM>

    @{
    /**/

    ViewBag.Title = "Index";
    }

    <h2>Contacts:</h2>
    <div style="border: 1px solid black">
        <form id="searchFrom">
            <div class="form-group">

                <span>Ime</span><input checked="checked" type="checkbox" name="ime" value="true" />
                <span style="margin-left:2.5em">Prezime</span><input style="margin-left:0.4em" type="checkbox" name="prezime" value="true" />
                <span style="margin-left:2.5em">Email</span><input style="margin-left:0.4em" type="checkbox" name="email" value="true" />
                <span style="margin-left:2.5em">Broj</span><input style="margin-left:0.4em" type="checkbox" name="broj" value="true" />

                <input style="margin-left:2.5em;margin-top: 0.4em" type="text" placeholder="Search" name="SearchTextBox" />
                <input id="searchBTN" type="button" value="Search" class="btn btn-default" />

            </div>
        </form>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div id="resultContainer">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            using (Html.BeginForm("Delete", "Home", new { id = item.id }))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.ActionLink(item.Email, "SendEmail", new { EmailTo = item.Email })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_user)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    <input type="submit" value="Delete" />

                </td>
            </tr>
            }
            }


        </table>
    </div>
    
    
    
    @section scripts{
    <script>
        $(document).ready(function () {

            $("#searchBTN").click(function () {
                debugger
                var data = $("#searchFrom").serialize();

                $.ajax({

                    type: "POST",
                    url: "/Home/Search",
                    data: data,
                    success: function (response) {

                        $("#resultContainer").html(response)
                    }

                })
            })

        })


    </script>
    }


